.container {
    background-color: antiquewhite;
    padding: 50px;
    display: flex;
    height: 1000px;   
    justify-content: center;
    margin-top: 50px;
}

.box {
    background-color: gray;
    height: 100px;
    width: 100px;
    margin: 10px;
    padding: 10px 25px 50px 25px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: whitesmoke;
    position: fixed;
    top: 0;
    right: 0; 
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}